// *******************
// MEDIA QUERIES
// *******************

@media (max-width: 1024px){
    
    // ****
    // Index Media Queries
    // ***
    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .hero {
        grid-column: 2/3;
        height: auto;
    }

    .hero img {
        height: 300px;
    }

    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }

    .details h1 {
        font-size: 48px;
    }

    .details h2 {
        font-size: 38px;
    }
}